<template>
  <div class="about">
    <center><h1>This is an about page</h1></center>
      <b-img v-bind:src="require('../assets/mine.jpg')"></b-img>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
